
.mystyle {  
    background-color: #cdc0b0;  
    color: Red;  
    padding: 10px;  
    font-family: Arial;  
    text-align: center;  
  }  
    
  .parastyle{  
    color: Green;  
    font-family: Arial;  
    font-size: 35px;  
    text-align: center;  
  }  